{{ define "main" }}
<div class="section-container" style="display: flex; align-items: flex-start; padding: 50px;">

  <!-- 왼쪽에 이미지 배치 -->
  <div class="profile-picture" style="flex: 1; text-align: center; padding-right: 20px;">
    <img src="/images/avatar.jpg" alt="Profile Picture" class="img-responsive" loading="lazy" style="border-radius: 50%; width: 250px; margin-top: 15px;">
  </div>

  <!-- 오른쪽에 자기소개 내용 배치 -->
  <div id="content" style="flex: 2; padding-left: 20px;">
    <h2>{{ .Title }}</h2> <!-- 정보 페이지의 제목 표시 -->
    <div>{{ .Content }}</div> <!-- information.md의 본문 내용 표시 -->
  </div>

</div>

<!-- 추가 섹션들 -->
<section id="summary" style="background-color: #e6f7ff; padding: 50px;">
  <h2>자기소개 요약본</h2>
  <p><strong>전북대학교 컴퓨터공학과 졸업 예정</strong></p>
</section>
{{ end }}
