<div class="card">
    <!-- 프로필 이미지 섹션을 카드 상단에 추가 -->
    {{ if .Params.avatar }}
      <div class="profile-picture">
        <img src="{{ .Page.Bundle "/avatar.jpg" }}" alt="{{ .Title }}" class="img-responsive" loading="lazy" style="border-radius: 50%; width: 150px; margin-top: 15px;">
      </div>
    {{ end }}
  
    <!-- 현재 페이지 변수를 바로 사용 -->
    {{ $resource := partial "blox-core/functions/get_featured_image.html" . }}
    {{ with $resource }}
      {{ $image := .Resize "550x" }}
      {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
      <a href="{{ .RelPermalink }}" class="card-image hover-overlay">
        <img src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}"
             alt="{{ .Title }}" class="img-responsive" loading="lazy" style="margin-top: 15px;">
      </a>
    {{ end }}
  
    <div class="card-text">
      <div class="section-subheading article-title mb-1 mt-3">
          <h4><a href="{{ .RelPermalink }}">{{ .Title | markdownify | emojify }}</a></h4>
      </div>
  
      {{ if .Params.authors }}
      <div class="article-metadata">
          <div>
              {{ partial "page_metadata_authors" . }}
          </div>
      </div>
      {{ end }}
  
      {{ with .Params.summary }}
      <div class="article-style">
        <p>{{ . }}</p>
      </div>
      {{ end }}
  
      {{ if partial "functions/has_attachments" . }}
      <div class="btn-links">
        {{ partial "page_links" (dict "page" . "is_list" 1) }}
      </div>
      {{ end }}
    </div>
  </div>
  